# /node_modules/* and /bower_components/* in the project root are ignored by default
/node_modules/*

# Ignore built files except build/index.js
build/*
!build/index.js

dist/*
storage/*
src/types/sequelize/index.d.ts
