body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h4 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1rem;
}

.has-text-danger {
  color: #ff3860;
}
